<div class="center jumbotron">
  <div class="text-center">
    <h1>復興グルメ！</h1>
    <h3>~熊本県人吉市周辺のグルメ情報~</h3>
    <p>被災から復活したお店のグルメ情報を投稿して街を盛り上げよう。</p>
    <br>
    <p>投稿するにはユーザー登録、ログインが必要です。</p>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>